# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Pytest
.pytest_cache/
pytest.ini

# Playwright
test-results/
tests/test-results/

tests/test_dummy.py

